.root {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.select-menu {
    margin: 10px;
    width: auto;
    height: auto;
    min-width: 0;
    max-width: none;
    min-height: 0;
    max-height: none;
    padding: 0;
    display: block;
    text-align: inherit;
    order: 0;
    align-self: auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 350px;
    max-width: 150px;
}

.select-menu-position {
    position: sticky;
    top: 10em;
    min-height: 2em;
    flex-basis: 350px;
}

.report-list {
    width: auto;
    height: auto;
    min-width: 0;
    max-width: none;
    min-height: 0;
    max-height: none;
    margin: 10px;
    padding: 0;
    display: block;
    text-align: inherit;
    order: 0;
    align-self: auto;
    flex-grow: 6;
    flex-shrink: 1;
    flex-basis: 350px;
    max-width: 1000px;
}