.navbar-nav span[role=button] {
    padding: 15px;
    display: inline-block;
    line-height: 20px;
}


.delete-border {
     border-bottom: none;
 }

.delete-border1 {
    border-bottom: none;
}

.tab-pane-first {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#select-menu {
     margin: 10px;
     width: 500px;
     height: auto;
     min-width: auto;
     max-width: 450px;
     min-height: 0;
     max-height: none;
     padding: 0;
     display: block;
     text-align: center;
     order: 0;
     align-self: center;
     flex-grow: 1;
     flex-shrink: 1;
     flex-basis: 500px;
 }

#settings {
    margin: 10px;
    width: 500px;
    height: auto;
    min-width: auto;
    max-width: 450px;
    min-height: 0;
    max-height: none;
    padding: 0;
    display: block;
    text-align: center;
    order: 0;
    align-self: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 500px;
}

.calendar {
    margin: 10px;
    width: 500px;
    height: auto;
    min-width: 450px;
    max-width: 450px;
    min-height: 0;
    max-height: none;
    padding: 0;
    display: block;
    text-align: center;
    order: 0;
    align-self: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 500px;

}