.add-question {
    align-self: center;
    align-content: center;
    align-items: center;
}

.text-input-form {
    background-color: #fbfbfb;
    border: 2px solid #dcdcdc;
    border-radius: 5px;
    width: -webkit-fill-available;
    margin: 1px;
}